numpy==1.18.1
pytorch-lightning==1.2.7
gensim==3.8.1
regex==2020.1.8 
nltk==3.4.5
torch==1.6.0
pytorch-crf==0.7.2
flair==0.7.0
scikit-learn==0.22.1
pandas==1.0.1
plotly==4.9.0
imgkit==1.0.2
ipython==7.19.0
GitPython==3.1.14